* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#map {
    width:63vw;
    height: 90vh;
    position: absolute;
    bottom: 25px;
    }

#pincode {
    padding: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}

#pinInput {
    font-size: 1.2rem;
    border-radius: 11px;
    padding: 7px;
    border: none;
    background-color: #3b6aee;
    color: white;
}

#pinInput:focus {
    outline: none;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}